groups:
- name: {{ prometheus_rules_alert_group }}
  rules:
    - alert: {{ prometheus_rules_alert_name }}
      expr: {{ prometheus_rules_alert_expr }}
      for: {{ prometheus_rules_alert_for }}
      labels:
        severity: {{ prometheus_rules_alert_severity }}
      annotations:
        title: {{ prometheus_rules_alert_annotation_title }}
        description: {{ prometheus_rules_alert_annotation_description }}