upstream prometheus-backend {
        server 0.0.0.0:9090;
    }
    server {
        listen 80;
        server_name         {{ prometheus_domain_name }};

        location / {
            auth_basic           "Prometheus";
            auth_basic_user_file /etc/nginx/.htpasswd;
            proxy_pass           http://prometheus-backend;
        }
    }